<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pve_entry_mapper">

    <select id="selectPveEntryPlayersByUserId" parameterType="string" resultType="OwnedPlayerInfoDTO">
        SELECT
            pe.SLOT_NUMBER, -- 엔트리 슬롯 번호
            
            op.OWNED_PLAYER_SEQ,
            op.USER_ID,
            op.CURRENT_ATTACK,
            op.CURRENT_DEFENSE,
            
            -- [수정] 변경된 스탯 명칭 적용
            op.CURRENT_HP,
            op.CURRENT_HARASS,
            op.CURRENT_SPEED,
            
            -- [추가] 강화 스탯 및 컨디션 연승 데이터 매핑
            op.ENHANCE_LEVEL   AS enhanceLevel,
            op.ENHANCE_ATTACK  AS enhanceAttack,
            op.ENHANCE_DEFENSE AS enhanceDefense,
            op.ENHANCE_HP      AS enhanceHp,
            op.ENHANCE_HARASS  AS enhanceHarass,
            op.ENHANCE_SPEED   AS enhanceSpeed,
            op.CONDITION       AS condition,
            op.WIN_STREAK      AS winStreak,

            op.ACQUIRED_AT,
            op.CURRENT_RARITY,
            
            p.PLAYER_SEQ,
            p.PLAYER_NAME,
            p.RACE,
            p.RARITY AS "baseRarity",
            p.PLAYER_IMG_URL,
            p.PLAYER_COST,
            
            pack.PACK_NAME
        FROM
            TBL_PVE_ENTRY pe
        JOIN
            TBL_OWNED_PLAYERS op ON pe.OWNED_PLAYER_SEQ = op.OWNED_PLAYER_SEQ
        JOIN
            TBL_PLAYERS p ON op.PLAYER_SEQ = p.PLAYER_SEQ
        LEFT JOIN 
            TBL_PACKS pack ON op.ACQUIRED_FROM_PACK_SEQ = pack.PACK_SEQ
        WHERE
            pe.USER_ID = #{userId}
        ORDER BY
            pe.SLOT_NUMBER ASC
    </select>

    <delete id="deletePveEntryByUserId" parameterType="string">
        DELETE FROM TBL_PVE_ENTRY
        WHERE USER_ID = #{userId}
    </delete>

    <insert id="insertPveEntry" parameterType="PveEntryDTO">
        INSERT INTO TBL_PVE_ENTRY (
            PVE_ENTRY_SEQ,
            USER_ID,
            OWNED_PLAYER_SEQ,
            SLOT_NUMBER
        ) VALUES (
            SEQ_PVE_ENTRY.NEXTVAL,
            #{userId},
            #{ownedPlayerSeq},
            #{slotNumber}
        )
    </insert>

</mapper>